<div>
    <p>{{# str }} warningtitle, block_summary {{/ str }}</p>
    <ul>
        {{# sectionsname }}
            <li>{{ . }}</li>
        {{/ sectionsname }}
    </ul>
    <p>{{# str }} warningmessage, block_summary {{/ str }}</p>
</div>